[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
evaluate = "*"
tqdm = "*"
pd = "*"
pandas = "*"
python-dotenv = "*"
requests = "*"
accelerate = "*"
rich = "*"
numpy = "<2"
transformers = "<4.40"

[dev-packages]

[requires]
python_version = "3.12"
